@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #202020;
    color: white;
}

.pop-ups {
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(132, 132, 132, 0.503);
}