@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:#f2f2f2;
    color: black;
}

.pop-ups {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.inputs {
    @apply mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1
}

.hidden-mobile {
    display: none;
}